body {
    height:4000px;
}

.lemon{
  position:fixed;
  left:750px;
  top:200px;
  height:200px;
}

.title{
  position:absolute;
  top:270px;
  left:100px
}

.author{
  position:absolute;
  top:350px;
  left:120px;
}

.con{
  position:absolute;
  height:600px;
  width:700px;
}
.cont0 {
  top:350px;
}
.cont1 {
  top:360px;
}
.cont2 {
  top:370px;
}
.cont3 {
  top:380px;
}
.cont4 {
  top:390px;
}
.cont5 {
  top:400px;
}
.cont6 {
  top:410px;
}
.cont7 {
  top:420px;
}
.cont8 {
  top:430px;
}
.cont9 {
  top:440px;
}
.cont10 {
  top:450px;
}
.cont11 {
  top:460px;
}
.cont12 {
  top:470px;
}
.cont13 {
  top:480px;
}
.cont14 {
  top:490px;
}
.cont15 {
  top:500px;
}
.cont16 {
  top:510px;
}
.cont17 {
  top:520px;
}
.cont18 {
  top:530px;
}
.cont19 {
  top:540px;
}
.cont20 {
  top:550px;
}
.cont21 {
  top:560px;
}
.cont22 {
  top:570px;
}
.cont23 {
  top:580px;
}
.cont24 {
  top:590px;
}
.cont25 {
  top:600px;
}
.cont26 {
  top:610px;
}
.cont27 {
  top:620px;
}
.cont28 {
  top:630px;
}
.cont29 {
  top:640px;
}
.cont30 {
  top:650px;
}
.cont31 {
  top:660px;
}
.cont32 {
  top:670px;
}
.cont33 {
  top:680px;
}
.cont34 {
  top:690px;
}
.cont35 {
  top:700px;
}
.cont36 {
  top:710px;
}
.cont37 {
  top:720px;
}
.cont38 {
  top:730px;
}
.cont39 {
  top:740px;
}
.cont40 {
  top:750px;
}
.cont41 {
  top:760px;
}
.cont42 {
  top:770px;
}
.cont43 {
  top:780px;
}
.cont44 {
  top:790px;
}
.cont45 {
  top:800px;
}
.cont46 {
  top:810px;
}
.cont47 {
  top:820px;
}
.cont48 {
  top:830px;
}
.cont49 {
  top:840px;
}
.cont50 {
  top:850px;
}
.cont51 {
  top:860px;
}
.cont52 {
  top:870px;
}
.cont53 {
  top:880px;
}
.cont54 {
  top:890px;
}
.cont55 {
  top:900px;
}
.cont56 {
  top:910px;
}
.cont57 {
  top:920px;
}
.cont58 {
  top:930px;
}
.cont59 {
  top:940px;
}
.cont60 {
  top:950px;
}
.cont61 {
  top:960px;
}
.cont62 {
  top:970px;
}
.cont63 {
  top:980px;
}
.cont64 {
  top:990px;
}
.cont65 {
  top:1000px;
}
.cont66 {
  top:1010px;
}
.cont67 {
  top:1020px;
}
.cont68 {
  top:1030px;
}
.cont69 {
  top:1040px;
}
.cont70 {
  top:1050px;
}
.cont71 {
  top:1060px;
}
.cont72 {
  top:1070px;
}
.cont73 {
  top:1080px;
}
.cont74 {
  top:1090px;
}
.cont75 {
  top:1100px;
}
.cont76 {
  top:1110px;
}
.cont77 {
  top:1120px;
}
.cont78 {
  top:1130px;
}
.cont79 {
  top:1140px;
}
.cont80 {
  top:1150px;
}
.cont81 {
  top:1160px;
}
.cont82 {
  top:1170px;
}
.cont83 {
  top:1180px;
}
.cont84 {
  top:1190px;
}
.cont85 {
  top:1200px;
}
.cont86 {
  top:1210px;
}
.cont87 {
  top:1220px;
}
.cont88 {
  top:1230px;
}
.cont89 {
  top:1240px;
}
.cont90 {
  top:1250px;
}
.cont91 {
  top:1260px;
}
.cont92 {
  top:1270px;
}
.cont93 {
  top:1280px;
}
.cont94 {
  top:1290px;
}
.cont95 {
  top:1300px;
}
.cont96 {
  top:1310px;
}
.cont97 {
  top:1320px;
}
.cont98 {
  top:1330px;
}
.cont99 {
  top:1340px;
}
.cont100 {
  top:1350px;
}
.cont101 {
  top:1360px;
}
.cont102 {
  top:1370px;
}
.cont103 {
  top:1380px;
}
.cont104 {
  top:1390px;
}
.cont105 {
  top:1400px;
}
.cont106 {
  top:1410px;
}
.cont107 {
  top:1420px;
}
.cont108 {
  top:1430px;
}
.cont109 {
  top:1440px;
}
.cont110 {
  top:1450px;
}
.cont111 {
  top:1460px;
}
.cont112 {
  top:1470px;
}
.cont113 {
  top:1480px;
}
.cont114 {
  top:1490px;
}
.cont115 {
  top:1500px;
}
.cont116 {
  top:1510px;
}
.cont117 {
  top:1520px;
}
.cont118 {
  top:1530px;
}
.cont119 {
  top:1540px;
}
.cont120 {
  top:1550px;
}
.cont121 {
  top:1560px;
}
.cont122 {
  top:1570px;
}
.cont123 {
  top:1580px;
}
.cont124 {
  top:1590px;
}
.cont125 {
  top:1600px;
}
.cont126 {
  top:1610px;
}
.cont127 {
  top:1620px;
}
.cont128 {
  top:1630px;
}
.cont129 {
  top:1640px;
}
.cont130 {
  top:1650px;
}
.cont131 {
  top:1660px;
}
.cont132 {
  top:1670px;
}
.cont133 {
  top:1680px;
}
.cont134 {
  top:1690px;
}
.cont135 {
  top:1700px;
}
.cont136 {
  top:1710px;
}
.cont137 {
  top:1720px;
}
.cont138 {
  top:1730px;
}
.cont139 {
  top:1740px;
}
.cont140 {
  top:1750px;
}
.cont141 {
  top:1760px;
}
.cont142 {
  top:1770px;
}
.cont143 {
  top:1780px;
}
.cont144 {
  top:1790px;
}
.cont145 {
  top:1800px;
}
.cont146 {
  top:1810px;
}
.cont147 {
  top:1820px;
}
.cont148 {
  top:1830px;
}
.cont149 {
  top:1840px;
}
.cont150 {
  top:1850px;
}
.cont151 {
  top:1860px;
}
.cont152 {
  top:1870px;
}
.cont153 {
  top:1880px;
}
.cont154 {
  top:1890px;
}
.cont155 {
  top:1900px;
}
.cont156 {
  top:1910px;
}
.cont157 {
  top:1920px;
}
.cont158 {
  top:1930px;
}
.cont159 {
  top:1940px;
}
.cont160 {
  top:1950px;
}
.cont161 {
  top:1960px;
}
.cont162 {
  top:1970px;
}
.cont163 {
  top:1980px;
}
.cont164 {
  top:1990px;
}
.cont165 {
  top:2000px;
}
.cont166 {
  top:2010px;
}
.cont167 {
  top:2020px;
}
.cont168 {
  top:2030px;
}
.cont169 {
  top:2040px;
}
.cont170 {
  top:2050px;
}
.cont171 {
  top:2060px;
}
.cont172 {
  top:2070px;
}
.cont173 {
  top:2080px;
}
.cont174 {
  top:2090px;
}
.cont175 {
  top:2100px;
}
.cont176 {
  top:2110px;
}
.cont177 {
  top:2120px;
}
.cont178 {
  top:2130px;
}


.box {
    position:absolute;
    align-items: left;
    text-align: left;
    color: black;
    display: flex;
    font-weight: bold;
    font-size: 10;
    height: 100px;
    width: 800px;
  }
  
  .one {
    top: 500px;
    left:50px;
    font-size: small;
    font-family: serif;
  }
  .two {
    background-color: blue;
    top:600px;
  }
  .three {
    background-color: green;
    top:700px;
  }
  .four {
    background-color: black;
  }